.users {
    padding: 1rem;

    &__list {
        display: flex;
        gap: .5rem;
        flex-wrap: wrap;
        margin-bottom: 1rem;
    }

    &__selected {
        margin: .5rem 0 1rem;
    }

    &__controls {
        display: flex;
        gap: .5rem;
        align-items: center;
    }

    &__input {
        width: 280px;
        max-width: 100%;
    }
}