.user-total {
    display: flex;
    gap: 8px;
    align-items: baseline;

    .label {
        opacity: .75;
    }

    .value {
        font-size: 18px;
        font-weight: 700;
        color: var(--accent);
    }
}